openapi: 3.1.0
info:
  title: Evervault Payments API
  version: 0.0.1
  description: The Evervault API allows developers to interact programmatically with their Evervault apps using HTTP requests.
  contact:
    email: support@evervault.com
    name: Evervault Support Team
    url: https://evervault.com
servers:
- url: https://api.evervault.com
  description: The Evervault API server
tags:
- name: Payments
  x-category: true
paths:
  /insights/cards:
    post:
      summary: Card Insights
      description: 'The Card Insights API allows you to perform address verification (AVS), name verification (ANI), and CVV verification checks. You can also check the card''s push and pull transaction capabilities.

        '
      operationId: createCardInsight
      tags:
      - Payments
      security:
      - ApiKey:
        - insights:create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                card:
                  type: object
                  description: The card details.
                  properties:
                    number:
                      type: string
                      description: The card number. This should be a valid Evervault encrypted card number or a valid plaintext card number.
                      example: '4111111111111111'
                    expiry:
                      type: object
                      description: The card expiry. Required if the `address`, `cardholder`, or `cvv` extensions are requested.
                      properties:
                        month:
                          type: string
                          description: The card expiry month
                          example: '12'
                        year:
                          type: string
                          description: The card expiry year
                          example: '29'
                    cvv:
                      type: string
                      description: The card security code. This should be a valid Evervault encrypted CVV or a valid plaintext CVV. Required if the `cvv` extension is requested.
                      example: '123'
                  required:
                  - number
                extensions:
                  type: array
                  description: The extensions to the card insight request.
                  items:
                    type: string
                    description: The extensions
                    enum:
                    - capabilities
                    - cvv
                    - cardholder
                    - address
                    x-enum-description:
                      capabilities: Check the card's push and pull transaction capabilities
                      cvv: Check the card's CVV verification
                      cardholder: Check the cardholder's name verification
                      address: Check the cardholder's address verification
                cardholder:
                  type: object
                  description: Details about the cardholder that the name verification (ANI) is for. Required if the `cardholder` extension is requested.
                  properties:
                    firstName:
                      type: string
                      description: The first name of the cardholder
                      example: John
                    lastName:
                      type: string
                      description: The last name of the cardholder
                      example: Doe
                address:
                  type: object
                  description: Details about the cardholder's address that the address verification (AVS) is for. Required if the `address` extension is requested.
                  properties:
                    postalCode:
                      type: string
                      description: The ZIP or postal code.
                      example: '10001'
                    line1:
                      type: string
                      description: Street address line 1
                      example: 123 Main Street
                    line2:
                      type: string
                      description: Street address line 2
                      example: Apt 4B
                    city:
                      type: string
                      description: The city name
                      example: New York
                    state:
                      type: string
                      description: The state or province code. Required when `country` is `us`, `ca`, or `au`.
                      format: iso-3166-2-subdivision
                      example: ny
                    country:
                      type: string
                      description: The country code.
                      format: iso-3166-1-alpha-2
                      example: us
                  required:
                  - postalCode
              required:
              - card
            examples:
              SimpleExample:
                value:
                  card:
                    number: '4111111111111111'
                    expiry:
                      month: 09
                      year: '29'
                    cvv: '123'
                  extensions:
                  - capabilities
                  - cvv
                  - address
                  - cardholder
                  cardholder:
                    firstName: John
                    lastName: Doe
                  address:
                    postalCode: '10001'
                    line1: 123 Main Street
                    line2: Apt 4B
                    city: New York
                    state: ny
                    country: us
      responses:
        '201':
          description: Returns the Card Insight object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardInsight'
              examples:
                Success:
                  summary: Successful Card Insight createFunctionRun
                  value:
                    id: card_insight_1234567890
                    fingerprint: WUlcOAgQcTN1GEUaoaKrLH1wL2PZrjsUS7byUGZyUEA
                    bin:
                      brand: visa
                      funding: credit
                      segment: consumer
                      country: us
                      currency: usd
                      issuer: Gringotts Wizarding Bank and Trust Company
                      productName: Visa Credit
                      fastFunds:
                        domestic: true
                        crossBorder: true
                      threeDS:
                        supportedVersions:
                          accessControlServer:
                          - 2.2.0
                          directoryServer:
                          - 2.2.0
                          - 2.3.1
                        acsInfoIndicators:
                        - code: acs-auth-available
                          indicator: '01'
                          description: Authentication Available at ACS
                      type: card
                    capabilities:
                      push:
                        enabled: true
                        network: visa
                        type: credit
                        availability: immediate
                        regulated: true
                        currency:
                          alphaCode: usd
                          numericCode: '840'
                        country:
                          alphaCode: us
                          numericCode: '840'
                      pull:
                        enabled: true
                        network: visa
                        type: credit
                        regulated: true
                        currency:
                          alphaCode: usd
                          numericCode: '840'
                        country:
                          alphaCode: us
                          numericCode: '840'
                    fees: null
                    cvv:
                      code: match
                      value: M
                    address:
                      avsIdentifier: aBcdeFGhIJKlmnoPqR
                      networkIdentifier: '1234567890'
                      networkResponseCode:
                        value: '85'
                      result:
                        value: Y
                        address: match
                        zip: match
                    cardholder:
                      result:
                        value: M
                        code: match-performed
                      fullName:
                        value: M
                        code: match
                      firstName:
                        value: M
                        code: match
                      lastName:
                        value: M
                        code: match
                    paymentAccountReference: V0010011111111111111111111111
                    createdAt: 169297262323
  /payments/bin-lookups:
    post:
      summary: BIN Lookup
      description: 'Performs a BIN lookup for the provided card number and retrieves associated information such as the card brand, country, issuer, and more.

        '
      operationId: createBinLookup
      tags:
      - Payments
      security:
      - ApiKey:
        - binLookup:create
      requestBody:
        description: 'The BIN (Bank Identification Number) lookup request body, which includes the card number.

          '
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                number:
                  type: string
                  description: 'The card number for which the BIN lookup is being requested.

                    It can be a plaintext Card number (FPAN) / Network Token number (DPAN), an encrypted

                    Card number / Network Token number or simply just a BIN (6-10 first digits of a Card Number) for range lookup.

                    '
              required:
              - number
            examples:
              BinLookupExample:
                summary: Example BIN lookup request
                value:
                  number: '4242424242424242'
      responses:
        '201':
          description: Returns BIN details for the provided card number.
          x-content: 'Returns the [BIN Lookup object](#the-bin-lookup-object) that was created.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BinLookup'
              examples:
                SuccessfulLookup:
                  summary: Successful BIN lookup
                  value:
                    id: bin_lookup_1234567890
                    brand: visa
                    funding: credit
                    segment: consumer
                    country: gb
                    currency: gbp
                    issuer: Gringotts Wizarding Bank and Trust Company
                    productName: Visa Debit
                    fastFunds:
                      domestic: true
                      crossBorder: true
                    threeDS:
                      supportedVersions:
                        accessControlServer:
                        - 2.2.0
                        directoryServer:
                        - 2.2.0
                        - 2.3.1
                      acsInfoIndicators:
                      - code: acs-auth-available
                        indicator: '01'
                        description: Authentication Available at ACS
                    type: card
                    createdAt: 169297262323
  /payments/merchants:
    post:
      summary: Create a Merchant
      description: 'Enrolls a Merchant with Card Networks.


        In rare cases it can take up to 48 hours to enroll a merchant with each of the card networks. If you are still unable to provision network tokens after this period, please contact support@evervault.com

        '
      operationId: createMerchant
      tags:
      - Payments
      security:
      - ApiKey:
        - merchant:create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The official name of the Merchant as recognized in transactions and communications. This name is used for display purposes and may be the company's trade name or a derived nickname.
                  pattern: ^[a-zA-Z0-9 ]{1,60}$
                  example: Acme
                shortName:
                  type: string
                  description: 'A shorter version of the Merchant''s name. Optional. When creating a 3D Secure session that references this Merchant by ID, `shortName` is used in place of `name` if `name` exceeds the 40-character limit imposed by the 3D Secure specification.

                    '
                  pattern: ^[a-zA-Z0-9 ]{1,40}$
                  example: Acme
                website:
                  type: string
                  description: The official website URL of the Merchant. The domain must use a valid IANA top-level domain. See https://data.iana.org/TLD/tlds-alpha-by-domain.txt
                  example: https://www.acme.com
                categoryCode:
                  type: string
                  description: The 4-digit Merchant Category Code (MCC).
                  example: '5945'
                business:
                  type: object
                  description: The business details of the Merchant.
                  properties:
                    legalName:
                      type: string
                      description: The legal name under which the Merchant's business is registered.
                      pattern: ^[a-zA-Z0-9 ]{1,60}$
                      example: Acme Corp
                    address:
                      $ref: '#/components/schemas/Address'
                      description: The physical address of the Merchant's principal place of business.
                  required:
                  - legalName
                  - address
                networkTokens:
                  type: object
                  description: The Merchant's Network Tokens configuration. This field should only be populated if the Merchant has already been enrolled in one of the Card Network programs and can use an existing Token Requestor ID (TRID).
                  properties:
                    enrolment:
                      type: array
                      items:
                        type: object
                        properties:
                          cardBrand:
                            type: string
                            description: The Card Brand for which the configuration belongs to.
                            example: mastercard
                          tokenRequestorIdentifier:
                            type:
                            - string
                            - 'null'
                            description: The existing Token Requestor ID assigned by the Card Brand.
                            example: '50165156978'
                applePay:
                  type: object
                  description: The Merchant's Apple Pay configuration.
                  properties:
                    domains:
                      type: array
                      description: 'The domains the Merchant wants registered with Apple Pay. Only the domain name is required, without the protocol or path. For example, `example.com` is a valid domain, but `https://example.com` is not.

                        '
                      items:
                        type: string
                        example: ollivanders.co.uk
              required:
              - name
              - website
              - categoryCode
              - business
            examples:
              SimpleExample:
                value:
                  name: Ollivanders Wand Shop
                  website: https://www.ollivanders.co.uk
                  categoryCode: '5945'
                  business:
                    legalName: Ollivanders Wand Shop Ltd
                    address:
                      line1: Diagon Alley
                      city: London
                      postalCode: WD1 1AA
                      country: gb
                  applePay:
                    domains:
                    - ollivanders.co.uk
      responses:
        '201':
          description: Returns a Merchant object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant'
              examples:
                SuccessfulCreation:
                  summary: Merchant successfully created
                  value:
                    id: merchant_eead1d640d7c
                    name: Ollivanders Wand Shop
                    website: https://www.ollivanders.co.uk
                    categoryCode: '5945'
                    business:
                      legalName: Ollivanders Wand Shop Ltd
                      address:
                        line1: Diagon Alley
                        city: London
                        postalCode: WD1 1AA
                        country: gb
                    networkTokens:
                      enrolment:
                      - cardBrand: mastercard
                        tokenRequestorIdentifier: '50165156978'
                        status: active
                      - cardBrand: visa
                        tokenRequestorIdentifier: '40238123804'
                        status: active
                      - cardBrand: american-express
                        tokenRequestorIdentifier: null
                        status: inactive
                    applePay:
                      domains:
                      - domain: ollivanders.co.uk
                        status: pending
                    createdAt: 1692972623233
                    updatedAt: 1692972623768
    get:
      x-section: Payments
      x-group: Merchants
      summary: List Merchants
      description: 'Lists all Merchants that have been created.

        '
      operationId: listMerchants
      tags:
      - Payments
      security:
      - ApiKey:
        - merchant:read
      parameters:
      - name: page
        in: query
        description: The page number to retrieve.
        required: false
        schema:
          type: integer
          default: 0
      - name: pageSize
        in: query
        description: The number of Merchants to retrieve per page (default is 50).
        required: false
        schema:
          type: integer
          default: 50
      - name: q
        in: query
        description: Filter the Merchants by name.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Returns a list of Merchant objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Merchant'
                  pageSize:
                    type: integer
                    description: The number of Merchants retrieved per page.
                  nextPage:
                    type:
                    - integer
                    - 'null'
                    description: The next page number to retrieve. If there are no additional Merchants, this will be `null`.
                  total:
                    type: integer
                    description: The total count of all Merchants, after any filters.
                required:
                - data
                - pageSize
                - nextPage
                - total
              examples:
                SuccessfulCreation:
                  summary: Successful List
                  description: The Merchants were retrieved successfully.
                  value:
                    data:
                    - id: merchant_eead1d640d7c
                      name: Ollivanders Wand Shop
                      website: https://www.ollivanders.co.uk
                      categoryCode: '5945'
                      business:
                        legalName: Ollivanders Wand Shop Ltd
                        address:
                          line1: Diagon Alley
                          city: London
                          postalCode: WD1 1AA
                          country: gb
                      networkTokens:
                        enrolment:
                        - cardBrand: mastercard
                          tokenRequestorIdentifier: '50165156978'
                          status: active
                        - cardBrand: visa
                          tokenRequestorIdentifier: '40238123804'
                          status: active
                        - cardBrand: american-express
                          tokenRequestorIdentifier: null
                          status: inactive
                      createdAt: 1692972623233
                      updatedAt: 1692972623768
                    pageSize: 50
                    nextPage: null
                    total: 1
  /payments/merchants/{merchant_id}:
    get:
      x-section: Payments
      x-group: Merchants
      summary: Retrieve a Merchant
      description: 'Retrieves a Merchant by its unique identifier.

        '
      operationId: getMerchant
      tags:
      - Payments
      security:
      - ApiKey:
        - merchant:read
      parameters:
      - name: merchant_id
        in: path
        description: The unique identifier of the merchant.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns a Merchant object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant'
              examples:
                SuccessfulCreation:
                  summary: Merchant successfully created
                  value:
                    id: merchant_eead1d640d7c
                    name: Ollivanders Wand Shop
                    website: https://www.ollivanders.co.uk
                    categoryCode: '5945'
                    business:
                      legalName: Ollivanders Wand Shop Ltd.
                      address:
                        line1: Diagon Alley
                        city: London
                        postalCode: WD1 1AA
                        country: gb
                    networkTokens:
                      enrolment:
                      - cardBrand: mastercard
                        tokenRequestorIdentifier: '50165156978'
                        status: active
                      - cardBrand: visa
                        tokenRequestorIdentifier: '40238123804'
                        status: active
                      - cardBrand: american-express
                        tokenRequestorIdentifier: null
                        status: inactive
                    applePay:
                      domains:
                      - domain: ollivanders.co.uk
                        status: active
                    createdAt: 1692972623233
                    updatedAt: 1692972623768
    patch:
      x-section: Payments
      x-group: Merchants
      summary: Update a Merchant
      description: 'Updates a Merchant by its unique identifier.

        '
      operationId: updateMerchant
      tags:
      - Payments
      security:
      - ApiKey:
        - merchant:update
      parameters:
      - name: merchant_id
        in: path
        description: The id of the Merchant to be updated.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shortName:
                  type: string
                  description: 'A shorter version of the Merchant''s name. When creating a 3D Secure session that references this Merchant by ID, `shortName` is used in place of `name` if `name` exceeds the 40-character limit imposed by the 3D Secure specification.

                    '
                  pattern: ^[a-zA-Z0-9 ]{1,40}$
                  example: Acme
                applePay:
                  type: object
                  description: The Merchant's Apple Pay configuration.
                  properties:
                    domains:
                      type: array
                      description: 'The domains the Merchant wants registered with Apple Pay. To remove a domain previously registered with Apple Pay, exclude it from the list. Only the domain name is required, without the protocol or path. For example, `example.com` is a valid domain, but `https://example.com` is not.

                        '
                      items:
                        type: string
                        example: ollivanders.co.uk
            examples:
              SimpleExample:
                value:
                  shortName: Ollivanders
                  applePay:
                    domains:
                    - ollivanders.co.uk
      responses:
        '200':
          description: Returns the updated Merchant object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant'
              examples:
                SuccessfulCreation:
                  summary: Merchant successfully updated
                  value:
                    id: merchant_eead1d640d7c
                    name: Ollivanders Wand Shop
                    shortName: Ollivanders
                    website: https://www.ollivanders.co.uk
                    categoryCode: '5945'
                    business:
                      legalName: Ollivanders Wand Shop Ltd.
                      address:
                        line1: Diagon Alley
                        city: London
                        postalCode: WD1 1AA
                        country: gb
                    networkTokens:
                      enrolment:
                      - cardBrand: mastercard
                        tokenRequestorIdentifier: '50165156978'
                        status: active
                      - cardBrand: visa
                        tokenRequestorIdentifier: '402338123804'
                        status: active
                      - cardBrand: american-express
                        tokenRequestorIdentifier: null
                        status: inactive
                    applePay:
                      domains:
                      - domain: ollivanders.co.uk
                        status: pending
                    createdAt: 1692972623233
                    updatedAt: 1692972623768
    delete:
      summary: Delete a Merchant
      description: 'Deletes a Merchant by its unique identifier.

        '
      operationId: deleteMerchant
      tags:
      - Payments
      security:
      - ApiKey:
        - merchant:delete
      parameters:
      - name: merchant_id
        in: path
        description: The id of the Merchant to be deleted.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Merchant successfully deleted.
  /payments/acquirers:
    post:
      summary: Create an Acquirer
      description: 'Creates an Acquirer to be used with 3DS sessions.

        '
      operationId: createAcquirer
      tags:
      - Payments
      security:
      - ApiKey:
        - acquirer:create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the Acquirer.
                description:
                  type: string
                  description: The description of the Acquirer.
                default:
                  type: boolean
                  description: Specifies whether this Acquirer is the default. Only one default Acquirer configuration can exist at a time; setting a new one clears the previous default. If none is defined, the first Acquirer created becomes the default. See the [Acquirers API](/api#acquirers) for details.
                configurations:
                  type: array
                  description: The Acquirer configurations. Configurations are set according to each card network the Acquirer is associated with, and each `network` can only appear once. To use a different `bin`, `acquirerMerchantIdentifier`, or `country` for the same network, create a separate Acquirer.
                  items:
                    type: object
                    properties:
                      network:
                        type: string
                        enum:
                        - visa
                        - mastercard
                        - american-express
                        - discover
                        description: The card network of the Acquirer. `discover` covers Discover, Diners Club, and JCB (US only).
                        example: mastercard
                      bin:
                        type: string
                        pattern: ^[0-9]{6,11}$
                        minLength: 6
                        maxLength: 11
                        description: The Bank Identification Number (BIN) of the Acquirer. Must be 6 to 11 digits.
                        example: '424242'
                      acquirerMerchantIdentifier:
                        type: string
                        description: The merchant identifier associated with the configuration.
                        example: '38191048173'
                      country:
                        type: string
                        format: iso-3166-1-alpha-2
                        description: The country of the Acquirer configuration, used when creating 3DS sessions.
                        example: ie
                    required:
                    - network
                    - bin
                    - acquirerMerchantIdentifier
                    - country
              required:
              - name
              - configurations
      responses:
        '201':
          description: Returns the created Acquirer object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcquirerConfiguration'
              examples:
                SimpleExample:
                  summary: Acquirer created successfully
                  value:
                    id: acquirer_adk3kdljc3
                    name: Ollivanders Wand Shop Production Configuration
                    description: Ollivanders Wand Shop Production Configuration
                    default: true
                    configurations:
                    - network: mastercard
                      bin: '424242'
                      acquirerMerchantIdentifier: '38191048173'
                      state: active
                      country: ie
                    - network: visa
                      bin: '424242'
                      acquirerMerchantIdentifier: '38191048173'
                      state: active
                      country: ie
    get:
      summary: List Acquirers
      description: 'Lists all Acquirers that have been created.

        '
      operationId: listAcquirers
      tags:
      - Payments
      security:
      - ApiKey:
        - acquirer:read
      parameters:
      - name: page
        in: query
        description: The page number to retrieve.
        required: false
        schema:
          type: integer
          default: 0
      - name: pageSize
        in: query
        description: The number of Acquirers to retrieve per page. The default is 50, which is also the maximum.
        required: false
        schema:
          type: integer
          default: 50
          maximum: 50
      responses:
        '200':
          description: Returns a list of Acquirer objects.
          x-content: 'Returns an array of [Acquirer objects](#the-acquirer-object).

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AcquirerConfiguration'
                  pageSize:
                    type: integer
                    description: The number of Acquirers retrieved per page.
                  nextPage:
                    type:
                    - integer
                    - 'null'
                    description: The next page number to retrieve. If there are no additional Acquirers, this will be `null`.
                  total:
                    type: integer
                    description: The total count of all Acquirers.
                required:
                - data
                - pageSize
                - nextPage
                - total
              examples:
                SimpleExample:
                  summary: Successful List
                  description: The Acquirers were retrieved successfully
                  value:
                    data:
                    - id: acquirer_adk3kdljc3
                      name: Ollivanders Wand Shop Production Configuration
                      description: Ollivanders Wand Shop Production Configuration
                      default: true
                      configurations:
                      - network: mastercard
                        bin: '424242'
                        acquirerMerchantIdentifier: '38191048173'
                        state: active
                        country: ie
                      - network: visa
                        bin: '424242'
                        acquirerMerchantIdentifier: '38191048173'
                        state: active
                        country: ie
                    pageSize: 50
                    nextPage: null
                    total: 1
  /payments/acquirers/{acquirer_id}:
    get:
      summary: Retrieve an Acquirer
      description: 'Retrieves an Acquirer by its unique identifier.

        '
      operationId: getAcquirer
      tags:
      - Payments
      security:
      - ApiKey:
        - acquirer:read
      parameters:
      - name: acquirer_id
        in: path
        description: The unique identifier of the Acquirer.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns an Acquirer object.
          x-content: 'Returns the [Acquirer object](#the-acquirer-object).

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcquirerConfiguration'
              examples:
                SimpleExample:
                  summary: Acquirer successfully retrieved
                  value:
                    id: acquirer_adk3kdljc3
                    name: Ollivanders Wand Shop Production Configuration
                    description: Ollivanders Wand Shop Production Configuration
                    default: true
                    configurations:
                    - network: mastercard
                      bin: '424242'
                      acquirerMerchantIdentifier: '38191048173'
                      state: active
                      country: ie
                    - network: visa
                      bin: '424242'
                      acquirerMerchantIdentifier: '38191048173'
                      state: active
                      country: ie
    patch:
      summary: Update an Acquirer
      description: 'Updates an Acquirer by its unique identifier.

        '
      operationId: updateAcquirer
      tags:
      - Payments
      security:
      - ApiKey:
        - acquirer:update
      parameters:
      - name: acquirer_id
        in: path
        description: The id of the Acquirer to be updated.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the Acquirer.
                description:
                  type: string
                  description: The description of the Acquirer.
                default:
                  type: boolean
                  description: Specifies whether this Acquirer is the default. Only one default Acquirer configuration can exist at a time; setting a new one clears the previous default. See the [Acquirers API](/api#acquirers) for details.
                configurations:
                  type: array
                  description: The Acquirer configurations. Configurations are set according to each card network the Acquirer is associated with, and each `network` can only appear once. To use a different `bin`, `acquirerMerchantIdentifier`, or `country` for the same network, create a separate Acquirer.
                  items:
                    type: object
                    properties:
                      network:
                        type: string
                        enum:
                        - visa
                        - mastercard
                        - american-express
                        - discover
                        example: mastercard
                        description: The card network to use the configuration for. `discover` covers Discover, Diners Club, and JCB (US only).
                      bin:
                        type: string
                        pattern: ^[0-9]{6,11}$
                        minLength: 6
                        maxLength: 11
                        description: The Bank Identification Number (BIN) of the acquirer. Must be 6 to 11 digits.
                      acquirerMerchantIdentifier:
                        type: string
                        description: The merchant identifier the configuration is associated with.
                      country:
                        type: string
                        format: iso-3166-1-alpha-2
                        example: ie
                        description: The country of the acquirer configuration, used when creating 3DS sessions.
                    required:
                    - network
      responses:
        '200':
          description: Returns the updated Acquirer object.
          x-content: 'Returns the updated [Acquirer object](#the-acquirer-object).

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcquirerConfiguration'
              examples:
                SimpleExample:
                  summary: Acquirer successfully updated
                  value:
                    id: acquirer_adk3kdljc3
                    name: Ollivanders Wand Shop Production Configuration
                    description: Ollivanders Wand Shop Production Configuration
                    default: true
                    configurations:
                    - network: mastercard
                      bin: '424242'
                      acquirerMerchantIdentifier: '38191048173'
                      state: active
                      country: ie
                    - network: visa
                      bin: '424242'
                      acquirerMerchantIdentifier: '38191048173'
                      state: active
                      country: ie
    delete:
      summary: Delete an Acquirer
      description: 'Deletes an Acquirer by its unique identifier.

        '
      operationId: deleteAcquirer
      tags:
      - Payments
      security:
      - ApiKey:
        - acquirer:delete
      parameters:
      - name: acquirer_id
        in: path
        description: The id of the Acquirer to be deleted.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Acquirer successfully deleted.
  /payments/network-tokens:
    post:
      x-section: Payments
      x-group: Network Tokens
      summary: Create a Network Token
      description: 'Create a Network Token for a given card.

        '
      operationId: createNetworkToken
      tags:
      - Payments
      security:
      - ApiKey:
        - networkToken:create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                card:
                  description: The card to tokenize. Either an inline card object or the unique identifier of a Card created with the [Cards API](/api#cards).
                  oneOf:
                  - type: object
                    description: An inline card object.
                    properties:
                      number:
                        type: string
                        description: The card number. Needs to be an Evervault-encrypted card number or a plaintext card number.
                        example: '4242424242424242'
                      expiry:
                        allOf:
                        - $ref: '#/components/schemas/CardExpiry'
                        description: The card expiry date. The expiry must be in the current month or later. Expired cards are rejected before tokenization.
                      cvc:
                        type: string
                        description: The card security code. Needs to be an Evervault-encrypted CVV or a plaintext CVV.
                        example: '123'
                    required:
                    - number
                    - expiry
                  - type: string
                    description: The unique identifier of a Card created with the [Cards API](/api#cards).
                    example: card_eead1d640d7c
                merchant:
                  type: string
                  description: The unique identifier of the Merchant previously created using the Evervault API. It denotes the Merchant to which the Network Token should be associated with.
                  example: merchant_ddsaJsda9d86
              required:
              - card
              - merchant
            examples:
              EvervaultEncryptedExample:
                value:
                  card:
                    number: ev:debug:Tk9D:number:nTepvAI585M7lUVp:AkJ6Brzat0E7ui8DSKCSXO7AopU/+GFuBekQ6cGx7eTl:sfihK53itmHp+URxomnTITUpwQwM5nnRrnQ0qdIOUlA=:$
                    expiry:
                      month: 09
                      year: '26'
                    cvc: ev:debug:Tk9D:number:2GW8Nk96yfb2UXcw:A4UOUDGNb16Q//uBYVPibmfJ2734IrvPAoVY+8PvGG0C:5jtAu8KN1HiPeCNqSDCKMapfpg==:$
                  merchant: merchant_ddsaJsda9d86
              PlaintextCardExample:
                value:
                  card:
                    number: '4242424242424242'
                    expiry:
                      month: 09
                      year: '26'
                    cvc: '123'
                  merchant: merchant_ddsaJsda9d86
      responses:
        '201':
          description: Returns a Network Token object.
          x-content: 'Returns the [Network Token object](#the-network-token-object) that was created.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkToken'
              examples:
                EvervaultEncryptedExample:
                  summary: Network Token created with encrypted card details
                  value:
                    id: network_token_eead1d640d7c
                    number: '4498004918463434'
                    expiry:
                      month: '13'
                      year: '25'
                    card:
                      lastFour: '4242'
                      expiry:
                        month: 09
                        year: '26'
                      brand: visa
                      country: us
                      currency: usd
                      funding: debit
                      segment: consumer
                      issuer: Gringotts Wizarding Bank and Trust Company
                    paymentAccountReference: 512381d9f8e0629211e3949a08002
                    tokenRequestorIdentifier: '40020248564'
                    tokenServiceProvider: vts
                    merchant: merchant_ddsaJsda9d86
                    status: active
                    createdAt: 1692972623233
                    updatedAt: 1692972623768
                PlaintextCardExample:
                  summary: Network Token created with plaintext card details
                  value:
                    id: network_token_eead1d640d7c
                    number: '4498004918463434'
                    expiry:
                      month: '13'
                      year: '25'
                    card:
                      lastFour: '4242'
                      expiry:
                        month: 09
                        year: '26'
                      brand: visa
                    paymentAccountReference: 512381d9f8e0629211e3949a08002
                    tokenRequestorIdentifier: '40020248564'
                    tokenServiceProvider: vts
                    merchant: merchant_ddsaJsda9d86
                    status: active
                    createdAt: 1692972623233
                    updatedAt: 1692972623768
        '400':
          description: 'The request was invalid or cannot be otherwise served.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IneligibleCard:
                  summary: Ineligible Card
                  value:
                    code: payments/network-tokens/ineligible-card
                    title: Ineligible Card
                    detail: The card is not eligible for tokenization. This may be due to the card issuer not supporting tokenization.
                InvalidCard:
                  summary: Ineligible Card
                  value:
                    code: payments/network-tokens/invalid-card
                    title: Invalid Card
                    detail: The provided card details did not pass verification checks. This may be due to an invalid card number, an incorrect CVC, or a discrepancy between the provided and actual card expiry date.
                ExpiredCard:
                  summary: Expired Card
                  value:
                    code: payments/network-tokens/expired-card
                    title: Expired Card
                    detail: The card has expired.
                DeclinedTokenization:
                  summary: Declined Tokenization
                  value:
                    code: payments/network-tokens/declined-tokenization
                    title: Declined Tokenization
                    detail: Tokenization for the given card was declined by the card issuer. This may be due to restrictions related to the card type, issuer policies, or the card's current status
        '422':
          description: 'Unprocessable Entity

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                MerchantNotReady:
                  summary: Merchant Not Ready
                  value:
                    code: payments/network-tokens/merchant-not-ready
                    title: Merchant Not Ready
                    detail: The merchant is not yet ready for tokenizing cards. Enrolling a merchant for network tokenization can take up to 48 hours. Please try again later.
                TokenServiceProviderProvisioning:
                  summary: Token Service Provider Provisioning
                  value:
                    code: payments/network-tokens/token-service-provider-provisioning
                    title: Token Service Provider Provisioning
                    detail: The Token Service Provider is currently provisioning. This may take up to 48 hours to complete. Please try again later. Contact support@evervault.com if this continues after 48 hours.
        '500':
          description: 'An error occurred while processing the request.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UnavailableTokenServiceProvider:
                  summary: Unavailable Token Service Provider
                  value:
                    code: payments/network-tokens/unavailable-token-service-provider
                    title: Unavailable Token Service Provider
                    detail: The Token Service Provider is unavailable. Please try again later.
  /payments/network-tokens/{network_token_id}:
    get:
      x-section: Payments
      x-group: Network Tokens
      summary: Retrieve a Network Token
      description: 'Retrieves a Network Token by its unique identifier.

        '
      operationId: getNetworkToken
      tags:
      - Payments
      security:
      - ApiKey:
        - networkToken:read
      parameters:
      - name: network_token_id
        in: path
        description: The unique identifier of the Network Token.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns a Network Token object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkToken'
              examples:
                SuccessfulRetrieval:
                  summary: Successful Retrieval
                  value:
                    id: network_token_eead1d640d7c
                    number: '4498004918463434'
                    expiry:
                      month: '13'
                      year: '25'
                    card:
                      lastFour: '4242'
                      expiry:
                        month: 09
                        year: '26'
                      brand: visa
                      country: us
                      currency: usd
                      funding: debit
                      segment: consumer
                      issuer: Gringotts Wizarding Bank and Trust Company
                    paymentAccountReference: 512381d9f8e0629211e3949a08002
                    tokenRequestorIdentifier: '40020248564'
                    tokenServiceProvider: vts
                    merchant: merchant_ddsaJsda9d86
                    status: active
                    createdAt: 1692972623233
                    updatedAt: 1692972623768
    delete:
      x-section: Payments
      x-group: Network Tokens
      summary: Delete a Network Token
      description: 'Deletes a Network Token by its unique identifier.

        '
      operationId: deleteNetworkToken
      tags:
      - Payments
      security:
      - ApiKey:
        - networkToken:delete
      parameters:
      - name: network_token_id
        in: path
        description: The unique identifier of the Network Token.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deletes a Network Token object.
          content:
            application/json:
              examples:
                SuccessfulDeletion:
                  summary: Network Token successfully deleted
                  value: {}
  /payments/network-tokens/{network_token_id}/cryptograms:
    post:
      x-section: Payments
      x-group: Network Tokens
      summary: Create a Cryptogram
      description: 'Creates a Network Token Cryptogram.

        '
      operationId: createNetworkTokenCryptogram
      tags:
      - Payments
      security:
      - ApiKey:
        - networkToken:createCryptogram
      parameters:
      - name: network_token_id
        in: path
        description: The unique identifier of the Network Token.
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Returns a Network Token Cryptogram object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkTokenCryptogram'
              examples:
                SuccessfulCreation:
                  summary: Network Token Cryptogram created
                  value:
                    id: network_token_cryptogram_eead1d640d7c
                    cryptogram: NTk0ZjM5M2QyNDMwNDE1MjkzMjg1ZTg5Y2NiZjdmNjE=
                    createdAt: 1692972623233
  /payments/network-tokens/{network_token_id}/simulate:
    post:
      x-section: Payments
      x-group: Network Tokens
      summary: Simulate a Network Token Update
      description: 'Simulates an update to a Network Token so that you can test your integration. Sandbox only.

        '
      operationId: simulateNetworkTokenUpdate
      tags:
      - Payments
      security:
      - ApiKey:
        - networkToken:create
      parameters:
      - name: network_token_id
        in: path
        description: The id of the Network Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                updateType:
                  type: string
                  description: The type of update to simulate.
                  enum:
                  - new-token-status
                  - new-card-expiry-and-last-four
                  - new-token-expiry-and-number
            examples:
              NewTokenExpiryAndNumberExample:
                value:
                  updateType: new-token-expiry-and-number
              NewCardExpiryAndLastFourExample:
                value:
                  updateType: new-card-expiry-and-last-four
              NewTokenStatusExample:
                value:
                  updateType: new-token-status
      responses:
        '200':
          description: Returns the updated Network Token object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkToken'
              examples:
                NewTokenExpiryAndNumberExample:
                  summary: New token expiry and number
                  value:
                    id: network_token_eead1d640d7c
                    number: '4498004918463434'
                    expiry:
                      month: '13'
                      year: '25'
                    card:
                      lastFour: '4242'
                      expiry:
                        month: 09
                        year: '26'
                      brand: visa
                      country: us
                      currency: usd
                      funding: debit
                      segment: consumer
                      issuer: Gringotts Wizarding Bank and Trust Company
                    paymentAccountReference: 512381d9f8e0629211e3949a08002
                    tokenRequestorIdentifier: '40020248564'
                    tokenServiceProvider: vts
                    merchant: merchant_ddsaJsda9d86
                    status: active
                    createdAt: 1692972623233
                    updatedAt: 1692972623768
                NewCardExpiryAndLastFourExample:
                  summary: New card expiry and last four
                  value:
                    id: network_token_eead1d640d7c
                    number: '4498004918463434'
                    expiry:
                      month: '13'
                      year: '25'
                    card:
                      lastFour: '4242'
                      expiry:
                        month: 09
                        year: '26'
                      brand: visa
                    paymentAccountReference: 512381d9f8e0629211e3949a08002
                    tokenRequestorIdentifier: '40020248564'
                    tokenServiceProvider: vts
                    merchant: merchant_ddsaJsda9d86
                    status: active
                    createdAt: 1692972623233
                    updatedAt: 1692972623768
                DeactivateTokenExample:
                  summary: Inactive token
                  value:
                    id: network_token_eead1d640d7c
                    number: '4498004918463434'
                    expiry:
                      month: '13'
                      year: '25'
                    card:
                      lastFour: '4242'
                      expiry:
                        month: 09
                        year: '26'
                      brand: visa
                    paymentAccountReference: 512381d9f8e0629211e3949a08002
                    tokenRequestorIdentifier: '40020248564'
                    tokenServiceProvider: vts
                    merchant: merchant_ddsaJsda9d86
                    status: inactive
                    createdAt: 1692972623233
                    updatedAt: 1692972623768
  /payments/network-tokens/{network_token_id}/card-art:
    get:
      summary: Retrieve Card Art
      description: 'Retrieves the card art for a Network Token by its unique identifier.

        '
      operationId: getCardArt
      tags:
      - Payments
      security:
      - ApiKey:
        - networkToken:read
      parameters:
      - name: network_token_id
        in: path
        description: The unique identifier of the Network Token.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the card art for the Network Token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardArt'
              examples:
                SuccessfulRetrieval:
                  summary: Successful Retrieval
                  value:
                    type: image/png
                    data: dGhlIGJhc2U2NCBlbmNvZGVkIGltYWdlIGRhdGE=
                    width: 1536
                    height: 969
  /payments/3ds-sessions:
    post:
      x-section: Payments
      x-group: 3D Secure
      summary: Create a 3DS Session
      description: 'Creates a 3DS Session to initiate the 3DS Authentication process. The session ID must then be passed to our client-side SDK to complete the authentication process. [Learn more](/sdks/javascript#ui.threedsecure())

        '
      operationId: createThreeDSSession
      tags:
      - Payments
      security:
      - ApiKey:
        - threeDSSession:create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                merchant:
                  description: The merchant details. Either an inline merchant object or the unique identifier of a Merchant created with the [Merchants API](/api#merchants).
                  oneOf:
                  - type: object
                    description: An inline merchant object.
                    properties:
                      name:
                        type: string
                        description: The name of the merchant.
                        example: Ollivanders Wand Shop
                      website:
                        type: string
                        description: The website of the merchant.
                        example: https://www.ollivanders.co.uk
                      categoryCode:
                        type: string
                        description: The category code of the merchant.
                        example: '5945'
                      country:
                        type: string
                        format: iso-3166-1-alpha-2
                        description: The country code of the merchant.
                        example: ie
                    required:
                    - name
                    - website
                    - categoryCode
                    - country
                  - type: string
                    description: The unique identifier of a Merchant created with the [Merchants API](/api#merchants).
                    example: merchant_eead1d640d7c
                card:
                  description: The card details. Either an inline card object or the unique identifier of a Card created with the [Cards API](/api#cards).
                  oneOf:
                  - type: object
                    description: An inline card object.
                    properties:
                      number:
                        type: string
                        description: The card number. Needs to be an Evervault-encrypted card number or a plaintext card number.
                        example: '4242424242424242'
                      expiry:
                        $ref: '#/components/schemas/CardExpiry'
                    required:
                    - number
                    - expiry
                  - type: string
                    description: The unique identifier of a Card created with the [Cards API](/api#cards).
                    example: card_eead1d640d7c
                acquirer:
                  description: 'The acquirer details to use for the 3DS session. Either an inline acquirer object or the unique identifier of an acquirer created with the [Acquirers API](/api#acquirers). If omitted, Evervault resolves the default acquirer configuration for the card''s network.

                    '
                  oneOf:
                  - $ref: '#/components/schemas/Acquirer'
                  - type: string
                    description: The unique identifier of an acquirer created with the [Acquirers API](/api#acquirers).
                    example: acquirer_adk3kdljc3
                customer:
                  type: object
                  description: The details of the customer who initiated the transaction.
                  properties:
                    name:
                      type: string
                      description: The name of the customer.
                      pattern: ^[a-zA-Z0-9 !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~]{2,45}$
                      example: Seamus Finnigan
                    phone:
                      type: array
                      description: The phone number of the customer.
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            description: The type of phone number.
                            enum:
                            - mobile
                            - home
                            - work
                            example: mobile
                          countryCode:
                            type: string
                            description: The numerical country calling code of the phone number.
                            example: '353'
                          number:
                            type: string
                            description: The phone number of the customer.
                            example: '873451276'
                        required:
                        - type
                        - countryCode
                        - number
                    email:
                      type: string
                      format: email
                      description: The email address of the customer.
                      example: seamus@hogwarts.edu
                    shipping:
                      type: object
                      description: The shipping details of the customer.
                      properties:
                        address:
                          description: The shipping address.
                          $ref: '#/components/schemas/Address'
                    billing:
                      type: object
                      description: The billing details of the customer.
                      properties:
                        address:
                          $ref: '#/components/schemas/Address'
                        taxIdentifier:
                          type: string
                          description: The tax identifier of the cardholder.
                          example: IE123456789
                payment:
                  type: object
                  description: The payment details of the 3D Secure Authentication. This field is mandatory for transactions involving payment authentications but not required for non-payment authentications.
                  oneOf:
                  - $ref: '#/components/schemas/PaymentOneOff'
                  - $ref: '#/components/schemas/PaymentInstallment'
                  - $ref: '#/components/schemas/PaymentRecurring'
                preferredVersions:
                  type: array
                  description: 'A prioritized list of preferred 3D Secure versions. If the first version is not supported, the next version in the list is attempted. If no preferred version is provided, the most optimal version is selected. If none of the specified versions are supported by the issuer, the session fails.

                    '
                  items:
                    type: string
                    enum:
                    - 2.2.0
                challenge:
                  $ref: '#/components/schemas/ThreeDSChallenge'
                initiator:
                  $ref: '#/components/schemas/ThreeDSInitiator'
              required:
              - card
              - merchant
            examples:
              SimpleExample:
                value:
                  merchant:
                    name: Ollivanders Wand Shop
                    website: https://www.ollivanders.co.uk
                    categoryCode: '5945'
                    country: gb
                  card:
                    number: '4242424242424242'
                    expiry:
                      month: 09
                      year: '26'
                  payment:
                    type: one-off
                    amount: 1000
                    currency: eur
      responses:
        '201':
          description: Returns a 3DS Session object.
          x-content: 'Returns the [3DS Session object](#the-3ds-session-object) that was created.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreeDSSession'
              examples:
                ActionRequired:
                  summary: Action Required
                  value:
                    id: tds_57aa862f8bf7
                    merchant:
                      name: Ollivanders Wand Shop
                      website: https://www.ollivanders.co.uk
                      categoryCode: '5945'
                      country: gb
                    card:
                      lastFour: '4242'
                      expiry:
                        month: 09
                        year: '26'
                      brand: visa
                      funding: debit
                      segment: consumer
                      country: gb
                      currency: gbp
                    initiator:
                      type: customer
                    challenge:
                      preference: no-preference
                      reason: null
                    acquirer:
                      bin: '567834'
                      merchantIdentifier: '530249576123943'
                      country: gb
                    payment:
                      type: one-off
                      amount: 1000
                      currency: eur
                    version: 2.2.0
                    status: action-required
                    nextAction:
                      type: use-sdk
                    ares:
                      transStatus:
                        value: C
                        detail: Challenge Required; Additional authentication is required using the CReq/CRes
                      transStatusReason: null
                    cres: null
                    rreq: null
                    accessControlServer:
                      transactionIdentifier: 0f651348-c519-4cfb-b349-0b302af9861f
                      referenceNumber: 3DS_LOA_ACS_STIN_020200_00417
                    directoryServer:
                      transactionIdentifier: 71c5d726-5d4b-426c-9d7d-131970f41c5c
                      referenceNumber: 3DS_LOA_DIS_VISA_020200_00828
                      network: visa
                    threeDSServer:
                      transactionIdentifier: a623edc1-54bc-455d-9dea-c909783a37c3
                    createdAt: 1692972623233
                    updatedAt: 1692972623768
                Successful:
                  summary: Successful
                  value:
                    id: tds_57aa862f8bf7
                    merchant:
                      name: Ollivanders Wand Shop
                      website: https://www.ollivanders.co.uk
                      categoryCode: '5945'
                      country: gb
                    card:
                      lastFour: '4242'
                      expiry:
                        month: 09
                        year: '26'
                      brand: visa
                      funding: debit
                      segment: consumer
                      country: gb
                      currency: gbp
                    initiator:
                      type: customer
                    challenge:
                      preference: no-preference
                      reason: null
                    acquirer:
                      bin: '567834'
                      merchantIdentifier: '530249576123943'
                      country: gb
                    payment:
                      type: one-off
                      amount: 1000
                      currency: eur
                    accessControlServer:
                      transactionIdentifier: d351441b-f9e6-46e3-a726-9fc4f39bbaaa
                      referenceNumber: 3DS_LOA_ACS_STIN_020200_00417
                    directoryServer:
                      transactionIdentifier: 18030e14-fafa-462e-bfc0-da733196e808
                      referenceNumber: 3DS_LOA_DIS_VISA_020200_00828
                      network: visa
                    threeDSServer:
                      transactionIdentifier: a623edc1-54bc-455d-9dea-c909783a37c3
                    version: 2.2.0
                    status: success
                    authentication:
                      flow: frictionless
                    cryptogram: MTIzNDU2Nzg5MDA5ODc2NTQzMjE=
                    eci:
                      value: '05'
                      descriptor: fully-authenticated
                      liabilityShift: true
                    ares:
                      transStatus:
                        value: Y
                        detail: Authentication/Account Verification Successful
                      transStatusReason: null
                    cres: null
                    rreq: null
                    createdAt: 1692972623233
                    updatedAt: 1692972623768
                Failure:
                  summary: Failed
                  value:
                    id: tds_57aa862f8bf7
                    merchant:
                      name: Ollivanders Wand Shop
                      website: https://www.ollivanders.co.uk
                      categoryCode: '5945'
                      country: gb
                    card:
                      lastFour: '4242'
                      expiry:
                        month: 09
                        year: '26'
                      brand: visa
                      funding: debit
                      segment: consumer
                      country: gb
                      currency: gbp
                    initiator:
                      type: customer
                    challenge:
                      preference: no-preference
                      reason: null
                    acquirer:
                      bin: '567834'
                      merchantIdentifier: '530249576123943'
                      country: gb
                    payment:
                      type: one-off
                      amount: 1000
                      currency: eur
                    version: 2.2.0
                    status: failure
                    failureReason: card-not-enrolled
                    ares:
                      transStatus:
                        value: N
                        detail: Not Authenticated/Account Not Verified; Transaction denied
                      transStatusReason:
                        value: '13'
                        detail: Cardholder not enrolled in service
                    cres: null
                    rreq: null
                    accessControlServer:
                      transactionIdentifier: 0f651348-c519-4cfb-b349-0b302af9861f
                      referenceNumber: 3DS_LOA_ACS_STIN_020200_00417
                    directoryServer:
                      transactionIdentifier: 71c5d726-5d4b-426c-9d7d-131970f41c5c
                      referenceNumber: 3DS_LOA_DIS_VISA_020200_00828
                      network: visa
                    threeDSServer:
                      transactionIdentifier: a623edc1-54bc-455d-9dea-c909783a37c3
                    createdAt: 1692972623233
                    updatedAt: 1692972623768
        '400':
          description: 'The request was invalid or cannot be otherwise served.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                ShortNameRequired:
                  summary: Short Name Required
                  value:
                    code: payments/3ds-sessions/short-name-required
                    title: Short Name Required
                    detail: Merchant merchant_eead1d640d7c's name is 50 characters, which exceeds the 3DS 40-character limit. Set a `shortName` on the merchant to use it for 3DS sessions.
  /payments/3ds-sessions/{3ds_session_id}:
    get:
      summary: Retrieve a 3DS Session
      description: 'Retrieve a 3DS Session.

        '
      operationId: retrieveThreeDSSession
      tags:
      - Payments
      security:
      - ApiKey:
        - threeDSSession:read
      parameters:
      - name: 3ds_session_id
        in: path
        description: The id of the session
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns a 3DS Session object.
          x-content: 'Returns the [3DS Session object](#the-3ds-session-object).

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreeDSSession'
              examples:
                ActionRequired:
                  summary: Action Required
                  value:
                    id: tds_57aa862f8bf7
                    merchant:
                      name: Ollivanders Wand Shop
                      website: https://www.ollivanders.co.uk
                      categoryCode: '5945'
                      country: gb
                    card:
                      lastFour: '4242'
                      expiry:
                        month: 09
                        year: '26'
                      brand: visa
                      funding: debit
                      segment: consumer
                      country: gb
                      currency: gbp
                    initiator:
                      type: customer
                    challenge:
                      preference: no-preference
                      reason: null
                    acquirer:
                      bin: '567834'
                      merchantIdentifier: '530249576123943'
                      country: gb
                    payment:
                      type: one-off
                      amount: 1000
                      currency: eur
                    version: 2.2.0
                    status: action-required
                    nextAction:
                      type: use-sdk
                    threeDSServer:
                      transactionIdentifier: a623edc1-54bc-455d-9dea-c909783a37c3
                    createdAt: 1692972623233
                    updatedAt: 1692972623768
                Successful:
                  summary: Successful
                  value:
                    id: tds_57aa862f8bf7
                    merchant:
                      name: Ollivanders Wand Shop
                      website: https://www.ollivanders.co.uk
                      categoryCode: '5945'
                      country: gb
                    card:
                      lastFour: '4242'
                      expiry:
                        month: 09
                        year: '26'
                      brand: visa
                      funding: debit
                      segment: consumer
                      country: gb
                      currency: gbp
                    initiator:
                      type: customer
                    challenge:
                      preference: no-preference
                      reason: null
                    acquirer:
                      bin: '567834'
                      merchantIdentifier: '530249576123943'
                      country: gb
                    payment:
                      type: one-off
                      amount: 1000
                      currency: eur
                    version: 2.2.0
                    status: success
                    authentication:
                      flow: challenge
                      methods:
                      - sms-otp
                    cryptogram: MTIzNDU2Nzg5MDA5ODc2NTQzMjE=
                    eci:
                      value: '05'
                      descriptor: fully-authenticated
                      liabilityShift: true
                    ares:
                      transStatus:
                        value: C
                        detail: Challenge Required; Additional authentication is required using the CReq/CRes
                      transStatusReason: null
                    cres:
                      transStatus:
                        value: Y
                        detail: Authentication/Account Verification Successful
                    rreq:
                      transStatus:
                        value: Y
                        detail: Authentication Verification Successful.
                    accessControlServer:
                      transactionIdentifier: 0f651348-c519-4cfb-b349-0b302af9861f
                      referenceNumber: 3DS_LOA_ACS_STIN_020200_00417
                    directoryServer:
                      transactionIdentifier: 71c5d726-5d4b-426c-9d7d-131970f41c5c
                      referenceNumber: 3DS_LOA_DIS_VISA_020200_00828
                      network: visa
                    threeDSServer:
                      transactionIdentifier: a623edc1-54bc-455d-9dea-c909783a37c3
                    createdAt: 1692972623233
                    updatedAt: 1692972623768
                Failure:
                  summary: Failed
                  value:
                    id: tds_57aa862f8bf7
                    merchant:
                      name: Ollivanders Wand Shop
                      website: https://www.ollivanders.co.uk
                      categoryCode: '5945'
                      country: gb
                    card:
                      lastFour: '4242'
                      expiry:
                        month: 09
                        year: '26'
                      brand: visa
                      funding: debit
                      segment: consumer
                      country: gb
                      currency: gbp
                    initiator:
                      type: customer
                    challenge:
                      preference: no-preference
                      reason: null
                    acquirer:
                      bin: '567834'
                      merchantIdentifier: '530249576123943'
                      country: gb
                    payment:
                      type: one-off
                      amount: 1000
                      currency: eur
                    version: 2.2.0
                    status: failure
                    failureReason: suspected-fraud
                    accessControlServer:
                      transactionIdentifier: 0f651348-c519-4cfb-b349-0b302af9861f
                      referenceNumber: 3DS_LOA_ACS_STIN_020200_00417
                    directoryServer:
                      transactionIdentifier: 71c5d726-5d4b-426c-9d7d-131970f41c5c
                      referenceNumber: 3DS_LOA_DIS_VISA_020200_00828
                      network: visa
                    threeDSServer:
                      transactionIdentifier: a623edc1-54bc-455d-9dea-c909783a37c3
                    createdAt: 1692972623233
                    updatedAt: 1692972623768
  /payments/3ds-sessions/{3ds_session_id}/messages:
    get:
      x-hidden: true
      summary: Retrieve 3DS Messages
      description: 'Retrieve messages for a 3DS Session. This endpoint can be helpful for debugging 3DS sessions, providing insight into the raw 3DS messages that were exchanged between the 3DS Server and the Directory Server.

        '
      operationId: retrieveThreeDSMessages
      tags:
      - Payments
      security:
      - ApiKey:
        - threeDSSession:read
      parameters:
      - name: 3ds_session_id
        in: path
        description: The id of the 3DS session
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns 3DS messages for the session.
          x-content: 'Returns an array of [3DS Message objects](#the-3ds-message-object).

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    description: Array of 3DS messages for the session
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: The type of 3DS message (e.g., AReq, ARes, CReq, CRes, RReq, RRes)
                          example: AReq
                        created_at:
                          type: integer
                          description: Timestamp when the message was created
                          example: 1751039450228
                        data:
                          type: object
                          description: The message data payload
              examples:
                MessagesExample:
                  summary: 3DS Messages
                  value:
                    messages:
                    - type: AReq
                      created_at: 1751039450228
                      data:
                        type: AReq
                        threeDSCompInd: N
                        threeDSRequestorAuthenticationInd: '01'
                        threeDSRequestorChallengeInd: '82'
                        threeDSRequestorID: 10085939*Example
                        threeDSRequestorName: Example 3DSS_Merchant
                        threeDSRequestorURL: https://example.com/
                        threeDSServerRefNumber: EXAMPLE_3DS_REF_NUMBER
                        threeDSServerOperatorID: '10085939'
                        threeDSServerTransID: 274af11d-2f5a-4050-b70e-8eda1e76f782
                        threeDSServerURL: https://example.3ds.com/result
                        acctType: '03'
                        acquirerBIN: '123456'
                        acquirerMerchantID: '123456789012'
                        browserAcceptHeader: '*/*'
                        browserIP: 192.168.1.1
                        browserJavaEnabled: false
                        browserJavascriptEnabled: true
                        browserLanguage: en-GB
                        browserColorDepth: '24'
                        browserScreenHeight: '1080'
                        browserScreenWidth: '1920'
                        browserTZ: '0'
                        browserUserAgent: Mozilla/5.0 (Example Browser)
                        cardExpiryDate: '2712'
                        acctNumber: '************1234'
                        deviceChannel: '02'
                        mcc: '1234'
                        merchantCountryCode: '372'
                        merchantName: Example Merchant
                        messageCategory: '01'
                        notificationURL: https://example.3ds.com/notification
                        purchaseAmount: '100000'
                        purchaseCurrency: '978'
                        purchaseExponent: '2'
                        purchaseDate: '20250627155050'
                        transType: '01'
                    - type: ARes
                      created_at: 1751039450626
                      data:
                        type: ARes
                        threeDSServerTransID: 274af11d-2f5a-4050-b70e-8eda1e76f782
                        acsChallengeMandated: Y
                        acsOperatorID: '123456789'
                        acsReferenceNumber: EXAMPLE_ACS_REF_NUMBER
                        acsTransID: '123456789012'
                        acsURL: https://example.3ds.com/creq
                        authenticationType: '02'
                        dsReferenceNumber: EXAMPLE_DS_REF_NUMBER
                        dsTransID: 4912cee8-3c89-4504-ac5b-0b2a3ef9489d
                        transStatus: Y
                        eci: '05'
  /payments/cards:
    post:
      summary: Register a Card
      description: 'When registering a card, you can provide either an Evervault encrypted card number or a plaintext card number. If you provide a plaintext card number it will be encrypted and the encrypted value will be returned in the response.


        Card registration is idempotent on card number. Registering the same card number a second time returns the existing Card object, rather than creating a new one. This means you can use the Card object `id` as a unique identifier. If you register an existing card number but with a different expiry date, the existing Card object is updated with the new date, and Evervault returns a `200 OK` response. A `201 Created` response indicates that a new Card object was created.

        '
      operationId: registerCard
      tags:
      - Payments
      security:
      - ApiKey:
        - card:create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                number:
                  type: string
                  description: The card number. This should be a valid Evervault encrypted card number or a valid plaintext card number.
                  example: '4242424242424242'
                expiry:
                  $ref: '#/components/schemas/CardExpiry'
              required:
              - number
              - expiry
            examples:
              EvervaultEncryptedExample:
                value:
                  number: ev:debug:Tk9D:number:nTepvAI585M7lUVp:AkJ6Brzat0E7ui8DSKCSXO7AopU/+GFuBekQ6cGx7eTl:sfihK53itmHp+URxomnTITUpwQwM5nnRrnQ0qdIOUlA=:$
                  expiry:
                    month: 09
                    year: '26'
              PlaintextCardExample:
                value:
                  number: '4242424242424242'
                  expiry:
                    month: 09
                    year: '26'
      responses:
        '200':
          description: Returns an existing Card object. If the card number is already registered but with a different expiry date, the date is updated to the value in the request before the Card object is returned.
          x-content: 'Returns the [Card object](#the-card-object) that was created.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
              examples:
                SuccessfulCreation:
                  summary: Card successfully created
                  value:
                    id: card_eead1d640d7c
                    number: ev:debug:Tk9D:number:nTepvAI585M7lUVp:AkJ6Brzat0E7ui8DSKCSXO7AopU/+GFuBekQ6cGx7eTl:sfihK53itmHp+URxomnTITUpwQwM5nnRrnQ0qdIOUlA=:$
                    expiry:
                      month: 09
                      year: '26'
                    bin: '424242'
                    lastFour: '4242'
                    brand: visa
                    funding: credit
                    segment: consumer
                    country: gb
                    currency: gbp
                    issuer: Gringotts Wizarding Bank and Trust Company
                    status: active
                    replacement: null
                    automaticUpdates: enabled
                    createdAt: 169297262323
                    updatedAt: null
        '201':
          description: Returns a new Card object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
              examples:
                SuccessfulCreation:
                  summary: Card successfully created
                  value:
                    id: card_eead1d640d7c
                    number: ev:debug:Tk9D:number:nTepvAI585M7lUVp:AkJ6Brzat0E7ui8DSKCSXO7AopU/+GFuBekQ6cGx7eTl:sfihK53itmHp+URxomnTITUpwQwM5nnRrnQ0qdIOUlA=:$
                    expiry:
                      month: 09
                      year: '26'
                    bin: '424242'
                    lastFour: '4242'
                    brand: visa
                    funding: credit
                    segment: consumer
                    country: gb
                    currency: gbp
                    issuer: Gringotts Wizarding Bank and Trust Company
                    status: active
                    replacement: null
                    automaticUpdates: enabled
                    createdAt: 169297262323
                    updatedAt: null
  /payments/cards/{card_id}:
    get:
      summary: Retrieve a Card
      description: 'Retrieves a Card by its unique identifier.

        '
      operationId: getCard
      tags:
      - Payments
      security:
      - ApiKey:
        - card:read
      parameters:
      - name: card_id
        in: path
        description: The unique identifier of the Card.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns an existing Card object.
          x-content: 'Returns the [Card object](#the-card-object).

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
              examples:
                SuccessfulCreation:
                  summary: Card successfully created
                  value:
                    id: card_eead1d640d7c
                    number: ev:debug:Tk9D:number:nTepvAI585M7lUVp:AkJ6Brzat0E7ui8DSKCSXO7AopU/+GFuBekQ6cGx7eTl:sfihK53itmHp+URxomnTITUpwQwM5nnRrnQ0qdIOUlA=:$
                    expiry:
                      month: 09
                      year: '26'
                    bin: '424242'
                    lastFour: '4242'
                    brand: visa
                    funding: credit
                    segment: consumer
                    country: gb
                    currency: gbp
                    issuer: Gringotts Wizarding Bank and Trust Company
                    status: active
                    replacement: null
                    automaticUpdates: enabled
                    createdAt: 169297262323
                    updatedAt: null
    delete:
      summary: Delete a Card
      description: 'Deletes a Card by its unique identifier.

        '
      operationId: deleteCard
      tags:
      - Payments
      security:
      - ApiKey:
        - card:delete
      parameters:
      - name: card_id
        in: path
        description: The unique identifier of the Card.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deletes a Card object.
          content:
            application/json:
              examples:
                SuccessfulDeletion:
                  summary: Card successfully deleted
                  value: {}
  /payments/cards/{card_id}/simulate:
    post:
      summary: Simulate a Card Update
      description: 'Simulates an update to a Card so that you can test your Card Account Updater integration. This endpoint is only available for [Sandbox Apps](/developers/sandbox).

        '
      operationId: simulateCardUpdate
      tags:
      - Payments
      security:
      - ApiKey:
        - card:create
      parameters:
      - name: card_id
        in: path
        description: The id of the Card
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: The request body for simulating a card update differs depending on the type of event you want to simulate.
              oneOf:
              - $ref: '#/components/schemas/CauNanUpdate'
              - $ref: '#/components/schemas/CauNedUpdate'
              - $ref: '#/components/schemas/CauAclUpdate'
            examples:
              NewAccountNumberExample:
                value:
                  updateType: new-account-number
                  number: '4242424242424242'
                  expiry:
                    month: 09
                    year: '26'
              NewExpiryDateExample:
                value:
                  updateType: new-expiry-date
                  expiry:
                    month: 09
                    year: '26'
              AccountClosureExample:
                value:
                  updateType: account-closure
      responses:
        '200':
          description: Returns the updated Card object.
          x-content: 'Returns the [Card object](#the-card-object).

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
              examples:
                NewAccountNumberExample:
                  summary: New account number
                  value:
                    id: card_eead1d640d7c
                    number: ev:debug:Tk9D:number:nTepvAI585M7lUVp:AkJ6Brzat0E7ui8DSKCSXO7AopU/+GFuBekQ6cGx7eTl:sfihK53itmHp+URxomnTITUpwQwM5nnRrnQ0qdIOUlA=:$
                    expiry:
                      month: 09
                      year: '26'
                    bin: '424242'
                    lastFour: '4242'
                    brand: visa
                    funding: credit
                    segment: consumer
                    country: gb
                    currency: gbp
                    issuer: Gringotts Wizarding Bank and Trust Company
                    status: replaced
                    replacement: card_eead1d640d7c
                    automaticUpdates: enabled
                    createdAt: 169297262323
                    updatedAt: 169297262376
                NewExpiryDateExample:
                  summary: New expiry date
                  value:
                    id: card_eead1d640d7c
                    number: ev:debug:Tk9D:number:nTepvAI585M7lUVp:AkJ6Brzat0E7ui8DSKCSXO7AopU/+GFuBekQ6cGx7eTl:sfihK53itmHp+URxomnTITUpwQwM5nnRrnQ0qdIOUlA=:$
                    expiry:
                      month: 09
                      year: '26'
                    bin: '424242'
                    lastFour: '4242'
                    brand: visa
                    funding: credit
                    segment: consumer
                    country: gb
                    currency: gbp
                    issuer: Gringotts Wizarding Bank and Trust Company
                    status: replaced
                    replacement: card_eead1d640d7c
                    automaticUpdates: enabled
                    createdAt: 169297262323
                    updatedAt: 169297262376
                AccountClosureExample:
                  summary: Account closure
                  value:
                    id: card_eead1d640d7c
                    number: ev:debug:Tk9D:number:nTepvAI585M7lUVp:AkJ6Brzat0E7ui8DSKCSXO7AopU/+GFuBekQ6cGx7eTl:sfihK53itmHp+URxomnTITUpwQwM5nnRrnQ0qdIOUlA=:$
                    expiry:
                      month: 09
                      year: '26'
                    bin: '424242'
                    lastFour: '4242'
                    brand: visa
                    funding: credit
                    segment: consumer
                    country: gb
                    currency: gbp
                    issuer: Gringotts Wizarding Bank and Trust Company
                    status: closed
                    replacement: null
                    automaticUpdates: enabled
                    createdAt: 169297262323
                    updatedAt: 169297262376
components:
  schemas:
    PaymentOneOff:
      type: object
      summary: One-Off Payment
      description: A payment that is made in a single transaction.
      properties:
        type:
          type: string
          description: The value `one-off`.
          enum:
          - one-off
          example: one-off
        amount:
          type: integer
          description: The amount of the payment in the smallest currency unit (e.g. cents).
          example: 1000
        currency:
          type: string
          format: iso-4217-alphabetic
          description: The currency of the payment.
          example: gbp
      required:
      - type
      - amount
      - currency
    ThreeDSChallenge:
      type: object
      description: Details about the 3DS challenge.
      properties:
        preference:
          type: string
          description: The 3DS challenge preference.
          enum:
          - no-preference
          - challenge-requested
          - challenge-mandated
          - no-challenge-requested
        reason:
          type:
          - 'null'
          - string
          description: The reason for not requesting a challenge. This value should only be present when the preference is `no-challenge-requested`.
          enum:
          - null
          - data-sharing
          - low-value
          - low-risk
          - secure-corporate-payment
          - authentication-already-performed
      required:
      - preference
[...]
